<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/botanic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/botanic"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantPest">
        <activity android:name=".ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlantPest2"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlantPest.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>